* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-image: url(./assets/earth.jpg);*/
  background-image: url(./assets/capa-artigo-sustentabilidade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 200vh;
  margin: 2rem;
}
body p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
body h1, body h2 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

#header .responsiveImg {
  display: none;
}

#header {
  border-radius: 30px 0 0 0;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.7px solid #b4aeae;
}
#header img {
  padding-left: 1rem;
}
#header .navigationBar {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  border: solid;
}
#header .navigationBar ul {
  border: solid;
  width: 60%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .navigationBar li {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  list-style: none;
}
#header .navigationBar a {
  color: #000;
  text-decoration: none;
}
#header .navigationBar .material-symbols-outlined {
  display: none;
  font-size: 32px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 5px;
}
#header #btnHeader {
  margin: 6px;
  font-weight: 600;
  padding: 0.6rem;
  font-size: 15px;
  height: 10vh;
  color: #f3f5f8;
  background-color: #21c05c;
  border: none;
  border-radius: 30px 0px 30px 30px;
  cursor: pointer;
}

section {
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
}
section .articleFirst {
  width: 50vw;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
section .articleFirst h1 {
  font-size: 3rem;
  font-weight: bold;
  font-weight: 700;
}
section .articleFirst .buttonsBox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
section .articleFirst .buttonsBox button {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 13vw;
  height: 10vh;
  border-radius: 5rem;
  color: #f3f5f8;
  cursor: pointer;
}
section .articleFirst .buttonsBox .giveBtn {
  background-color: #21c05c;
  border-radius: 30px 0px 30px 30px;
}
section .articleFirst .buttonsBox .adquireBtn {
  background-color: #f3f5f8;
  color: #2563eb;
  border-radius: 30px 0px 30px 30px;
}
section .articleFirst .buttonsBox .giveImgButton {
  width: 2vw;
  border-radius: 30px 0px 30px 30px;
}
section .articleFirst .buttonsBox .adquireImgButton {
  width: 2vw;
}

.sustentableImg {
  width: 20vw;
  height: 60vh;
}

.imgMainSection {
  margin: 2rem;
  width: 50vw;
}

#satisfactionSearch {
  width: 100%;
  height: 30vh;
  background-color: rgba(243, 245, 248, 0);
  border-top: 2px solid;
  border-bottom: 2px solid;
}
#satisfactionSearch article {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#satisfactionSearch h2 {
  color: #21c05c;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 3px 1px #000;
}
#satisfactionSearch p {
  color: #f3f5f8;
  text-shadow: 2px 3px 1px #000;
}

#howWorks {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#howWorks .paragraph {
  font-size: 1.2rem;
}

#donors {
  display: flex;
  justify-content: space-evenly;
}

.infoWorks1, .infoWorks2 {
  width: 30vw;
  height: 60vh;
  border-radius: 30px;
  background-color: #f3f5f8;
  color: #f3f5f8;
}
.infoWorks1 img, .infoWorks2 img {
  width: 3vw;
}
.infoWorks1 figure, .infoWorks2 figure {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.infoWorks1 figure figcaption, .infoWorks2 figure figcaption {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}
.infoWorks1 figure .toDonors, .infoWorks2 figure .toDonors {
  color: #21c05c;
  width: 15vw;
}
.infoWorks1 figure .toAdquirentes, .infoWorks2 figure .toAdquirentes {
  color: #2563eb;
  width: 15vw;
}
.infoWorks1 p, .infoWorks2 p {
  font-size: 1.2rem;
  color: #000;
}
.infoWorks1 ol, .infoWorks2 ol {
  padding: 1.5rem;
  color: #000;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}
.infoWorks1 li, .infoWorks2 li {
  padding: 0.5rem;
}
.infoWorks1 p, .infoWorks2 p {
  text-align: center;
}

.howWorks-article {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 2rem;
}

#availableProducts {
  width: 100%;
  height: 110vh;
  padding: 2rem;
}

article .popularCategoriesparagraph {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.category {
  width: 100%;
  margin: 25px;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  border: solid #21c05c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.category img {
  width: 20vw;
  height: 30vh;
}
.category button {
  background-color: #21c05c;
  color: #f3f5f8;
  margin: 6px;
  font-weight: 600;
  padding: 0.6rem;
  font-size: 15px;
  height: 10vh;
  border: none;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
}

#feedbacks {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
#feedbacks img {
  width: 7vw;
}

.histories {
  width: 100%;
  display: flex;
}
.histories .commits {
  background-color: #fff;
  border: groove;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.histories .commits .historiesPhoto {
  border: none;
}

.names {
  width: 10vw;
  font-family: "Inter", sans-serif;
}

.articleFirst p {
  font-size: 1.2rem;
}

#satisfactionSearch p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f3f5f8;
  text-shadow: 0 2px 1px #000;
}

#availableProducts p {
  font-size: 1rem;
  color: #222;
  text-align: center;
}

.areUReady {
  width: 100%;
  height: 100vh;
  color: #f3f5f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.areUReady h2 {
  font-size: 3rem;
  color: #000;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.areUReady p {
  padding: 2rem;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  color: #000;
  text-align: center;
}
.areUReady button {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  width: 15vw;
  height: 10vh;
  border-radius: 4rem;
  color: #f3f5f8;
  background-color: #2563eb;
  cursor: pointer;
}
.areUReady .clickHere {
  width: 50%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.readyArticle {
  width: 70vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerSection {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 40vh;
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.footerArticle {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footerArticle h2, .footerArticle h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}
.footerArticle h2 {
  color: #fff;
}
.footerArticle p {
  font-size: 1rem;
  color: #9CA3AF;
}
.footerArticle ul {
  list-style: none;
  padding: 0;
}
.footerArticle a {
  font-size: 1rem;
  color: #9CA3AF;
  text-decoration: none;
}
.footerArticle .socialMediaIcons {
  display: flex;
  gap: 1rem;
}
.footerArticle .socialMediaIcons img {
  width: 2vw;
  cursor: pointer;
}
.footerArticle .socialMediaIcons img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.footerArticle .socialMediaIcons img:hover .socialMediaIcons img {
  filter: brightness(1.4);
}

.footerArticle a:hover {
  color: #21c05c;
  transition: color 0.3s ease;
}

.bottomFooter {
  width: 100%;
  height: 10vh;
  border-top: 1px solid #4b5563;
  background-color: #1f2937;
  border-radius: 0 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomFooter p {
  font-size: 1rem;
  color: #f3f5f8;
}

@media (max-width: 700px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
  }
  header .navigationBar {
    width: 100%;
    border: solid;
  }
  header .navigationBar ul {
    gap: 1rem;
  }
  header .navigationBar li {
    font-size: 0.6rem;
  }
  header img {
    width: 40vw;
    margin-bottom: 1rem;
  }
  header button {
    width: 10vw;
    height: 7vh;
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */