* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background-image: url(./assets/earth.jpg);
    background-image: url(./assets/capa-artigo-sustentabilidade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // opacity: 0.6;
    // overflow: hidden;
    height: 200vh;
    margin: 2rem;
    // margin: 8px; NAO ATIVAR
}

#cabeçalho {
    border-radius: 30px 0 0 0;
    // opacity: 0.7;
    background-color: #f3f5f89a;
   

    width: 100%;
    // position: fixed; 
    //NAO ATIVAR. SE ATIVAR, VAI FICAR POR CIMA DO ARTICLE
    // margin: 1rem;
    // padding: 0.5rem;;
    //talvez mexer no padding ou tirar
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.7px solid #b4aeae;
    .responsiveImg {
        display: none;
    }
    img {
        padding-left: 1rem;
        width: 15vw;
       
    }

    .navigationBar{
        width: 60%;
       
        display: flex;
        justify-content: space-evenly;
    }

    .navigationBar ul {
        width: 100%;
       
        // height: 12vh;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .navigationBar li{
       
        list-style: none;
    }

    .navigationBar a {
        color: #000;
        text-decoration: none;
    }

    .navigationBar .material-symbols-outlined {
        display: none;
        font-size: 32px;
        cursor: pointer;
        user-select: none;
        padding: 5px;
    }
    #btnHeader {
         margin: 6px;
         font-weight: 600;
        padding: 0.6rem;   
        font-size: 15px;
        height: 10vh;
        color: #f3f5f8;
        background-color: #21c05c;
        border: none;
        // border-radius: 8px;
        border-radius: 30px 0px 30px 30px;
        cursor: pointer;
    }
}




//MAIN

section {
    height: 80vh;
    background-color: #f3f5f89a;
    // margin: 2rem;   PENSAR 2 VEZES ANTES DE ATIVAR OU INATIVAR.
   
    display: flex;

    .articleFirst {
    width: 50vw;
    margin: 3rem;
   
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    gap: 1rem;

    h1{
        // font-weight: 600;
        // text-align: center;
        font-size: 4rem;
    }
    p{
        // text-align: center;
        font-size: 1.2rem;
    }

    // div {
    //     // width: 60%;
    //     
    //     display: flex;
    //     justify-content: space-evenly;
    // }
    .buttonsBox {
        width: 100%;
        display: flex;
        justify-content: flex-start; // mantém os botões à esquerda
        align-items: center;
        gap: 1rem; // controla o espaço ENTRE os botões
        margin: 0;
        padding: 0;

        button {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        // text-align: center;
        width: 12vw;
        height: 7vh;
        // margin-right: 10px; 
        
        border-radius: 5rem;
        color:#f3f5f8;
        cursor: pointer;
    }
    .giveBtn {
        // 
        // flex: 1;
        background-color:#21c05c;
        border-radius: 30px 0px 30px 30px;
        // padding: 0.6rem;
    }
    .adquireBtn {
        // text-align: center;
        // flex:1;
        background-color:#f3f5f8;
        color:#2563eb;
        border-radius: 30px 0px 30px 30px;
    }
    .giveImgButton{
        width: 2vw;
        // height: 1vh;
        // text-align: center;
        border-radius: 30px 0px 30px 30px;
    }
    .adquireImgButton {
        width: 2vw;
    }
}
    // button:nth-of-type(1),
    // button:nth-of-type(2) {
    //     display: inline-block;
    // }
}
    .sustentableImg {
        width: 20vw;
        height:60vh;
        margin: 2rem;
        // text-align: center;
        // padding: 3rem;
        // border: solid red;
        // margin: 2rem;
    }
    .articleSecond {
        margin: 2rem;
        width: 50vw;
        // border: groove;
    }
}

#satisfactionSearch {
    width: 100%;
    height: 30vh;
    background-color: #f3f5f800;
    // #1861cea0;
    // border: solid;
    border-top: 2px solid;
    border-bottom: 2px solid;

    article {
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        // border: solid;
    
    }
    h2{
        color:#21c05c;
        font-size: 3rem;
        font-weight: bold;
        text-shadow: 0 2px 1px #000 ;
    }
    p {
        font-size: 1.5rem;
        font-weight: bold;
        color:#f3f5f8;
        // box-shadow: black;
        text-shadow: 0 2px 1px #000;
    }

}

#howWorks {

    border: solid;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    h2 {
        
    }
   .paragraph{
        font-size: 1.2rem;
    }
}

.infoWorks{
        width: 30vw;
        border: solid;
        background-color: #f3f5f8;
        border-radius: 50px;
        // display: flex;
        // justify-content: space-evenly;
    }

    h3{
        // text-align: ;
    }














@media (max-width: 700px){
    //adicionar um menu hamburguer com hover
    #cabeçalho{
        .menu-icon {
            display: block;
        } 
        ul {
            display: none;
        }
    }
}
